include ./data-list
mixin associationLinksList 
    each asscociationList in asscociationLists
        ul.association-list
            each asscociationListLink in asscociationList.asscociationListLinks
                li.associations-list-item
                    a.associations-link(href=asscociationListLink.href) #{asscociationListLink.title}