-
    const asscociationLists=
    [
        {
            asscociationListLinks:[
                {
                    title: "Agriculture, Elevage, autres",
                    href: "#"
                },
                {
                    title: "Associations, Organisations",
                    href: "#"
                },
                {
                    title: "Cafés, Hôtels, Restaurants",
                    href: "#"
                },
                {
                    title: "Communication, marketing",
                    href: "#"
                },
                {
                    title: "Enseignement - Education",
                    href: "#"
                },
                {
                    title: "Industrie",
                    href: "#"
                },
                {
                    title: "Loisirs & détente",
                    href: "#"
                },
                {
                    title: "Profession libérale",
                    href: "#"
                },
                {
                    title: "Services aux Entreprises",
                    href: "#"
                },
                {
                    title: "Tourisme & voyages",
                    href: "#"
                }

            ]
        },
        {
            asscociationListLinks:[
                {
                    title: "Alimentation & Boissons",
                    href: "#"
                },
                {
                    title: "Banque, finance & assurance",
                    href: "#"
                },
                {
                    sociationTypes: "Commerce de gros",
                    href: "#"
                },
                {
                    title: "Droit & justice",
                    href: "#"
                },
                {
                    title: "Fournisseurs d'accès internet",
                    href: "#"
                },
                {
                    title: "Informatique et bureautique",
                    href: "#"
                },
                {
                    title: "Ministères & Services Publiques",
                    href: "#"
                },
                {
                    title: "Santé & Services",
                    href: "#"
                },
                {
                    title: "Sports",
                    href: "#"
                },
                {
                    title: "Transport, logistique & services",
                    href: "#"
                }
            ]
        },
        {
            asscociationListLinks:[
                {
                    title: "Ambassades",
                    href: "#"
                },
                {
                    title: "Batiment & Travaux Publics",
                    href: "#"
                },
                {
                    title: "Commerces & Magasins",
                    href: "#"
                },
                {
                    title: "Emploi",
                    href: "#"
                },
                {
                    title: "Immobilier",
                    href: "#"
                },
                {
                    title: "Intermittents du spectacle",
                    href: "#"
                },
                {
                    title: "Presse, médias, cinéma, radio",
                    href: "#"
                },
                {
                    title: "Sécurité & protection",
                    href: "#"
                },
                {
                    title: "Téléphonie et matériel",
                    href: "#"
                },
                {
                    title: "Véhicules, Bateaux et autres engins",
                    href: "#"
                }
            ]
        }
    ]