include ./association-links-list
section.secondary-footer 
    .secondary-footer-container.container.flex-space-between
        .secondary-footer-heading-wrapper
            .container
                h4.secondary-footer-heading ANNUAIRE DES ENTREPRISES ET ORGANISMES PARTENAIRES
        .associations-wrapper 
            .associations-container.container.flex-align-center
                +associationLinksList



