section.ads-section
    .multiple-ads-wrapper
        .multiple-ads.flex-space-between
            a.ad-link(href='#')
                img.ad-img(src="./images/betika.gif" alt="betika") 
            a.ad-link(href='#')
                img.ad-img(src="./images/usct-ad.jpg" alt="usct") 
            a.ad-link(href='#')
                img.ad-img(src="./images/getragri-ad.jpg" alt="getragri") 
    .simple-ads-wrapper
        a(href='#')
            img.desktop-img.simple-ad-img(src="./images/isuzu-ad.png" alt="isuzu")
            img.mobile-img.simple-ad-img(src="./images/isuzu-ad-mobile.jpg" alt="isuzu")

