section.ads-section
    .multiple-ads-wrapper
        .multiple-ads.flex-space-between
            a.ad-link(href='#')
                img.ad-img(src="./images/betika.gif") 
            a.ad-link(href='#')
                img.ad-img(src="./images/usct-ad.jpg") 
            a.ad-link(href='#')
                img.ad-img(src="./images/getragri-ad.jpg") 
    .simple-ads-wrapper
        a(href='#')
            img.desktop-img.simple-ad-img(src="./images/isuzu-ad.png")
            img.mobile-img.simple-ad-img(src="./images/isuzu-ad-mobile.jpg")

