-
    const spotlightCards =
    [
        {
            image: "./images/card-1.png",
            title: "Lorem ipsum dolor sit amet",
            description: "Tanah Lot (Indonésie) (AFP) - Bouteilles de bière et chaises en plastique cassées jonchent les allées du parcours de golf sur l'île touristique...` de Bali en Indonésie, où des travailleurs licenciés se lamentent devant les promesses non-tenues d'une station balnéaire six-étoiles signée Donald Trump.",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/card-2.png",
            title: "Lorem ipsum dolor sit amet",
            description: "CONGO BIENNALE, Institut Français de Kinshasa | Entrée gratuite. La deuxième édition de la Biennale internationale d’art contemporain... en République démocratique du Congo (Congo Biennale) affirme d’emblée...",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/card-3.png",
            title: "Lorem ipsum dolor sit amet",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/card-4.png",
            title: "Lorem ipsum dolor sit amet",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/card-5.png",
            title: "Lorem ipsum dolor sit amet",
            description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        }
    ];