include ./mixin

section.spotlight.container
  h2.section-heading.flex-center Spotlight
  p.section-paragraph Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaincididunt ut labore et dolore magna aliqua
  .spotlight-cards-wrapper 
    +spotlightcard
  a.show-all-btn.flex-center(href="#") Voir toutes les actualites