
.spotlight-cards-wrapper {
    margin-bottom: 66px;
  }

  .main-cards-wrapper, .normal-cards-wrapper{
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .normal-cards-wrapper{
    margin-top: 36px;
  }

  .main-card, .card {
    position: relative;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    &:hover{
        border-color: $mainColor;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }

  .main-card {
    padding: 12px 14px 17px 14px;
    max-width: 730px;
    gap: 27px;
  }

  .card{
    padding: 15px 17px 17px 15px;
    max-width: 468px;
    gap: 20px;
  }

  .main-card-img-holder, .card-img-holder{
    flex-shrink: 0;
  }

  .main-card-img-holder {
    width: 347px;
    height: 348px;
  }

  .card-img-holder {
    width: 205px;
    height: 256px;
  }

  .main-card-img, .card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  .main-card-heading, .card-heading{
    letter-spacing: 2px;
  }

  .main-card-heading {
    font-size: 30px;
  }

  .card-heading {
    font-size: 26px;
  }

  .main-card-paragraph-wrapper,
  .card-paragraph-wrapper{
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }

  .main-card-paragraph-wrapper{
    margin: 36px 0;
    height: 102px;
  }

  .card-paragraph-wrapper{
    margin:21px 0 36px;
    height: 78px;
  }

  .main-card-description, .card-description{
    line-height: 26px;
    color: #727272;
    font-weight: 300;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .main-card-description {
    font-size: 18px;
    -webkit-line-clamp: 4;
  
  }

  .card-description{
    font-size: 20px;
    -webkit-line-clamp: 3;
  }

  .main-card-details, .card-details{
    opacity: 0.3;
  }

  .main-card-details{
    font-size: 14px;
  }

  .card-details{
    font-size: 10px;
  }

  .card-detail, .main-card-detail{
    display: inline-flex;
    align-items: center;
    &::before{
        content: "";
        opacity: 0.5;
        background-size: contain;
        background-repeat: no-repeat;
    }
  }

  .main-card-detail{
    margin-right: 15px;
    &::before{
        margin-right: 4px;
        width: 18px;
        height: 18px;
    }
  }

  .card-detail{
    margin-right: 11px;
    &::before{
        margin-right: 2px;
        width: 15px;
        height: 15px;
    }
  }

  .main-card-date::before, .card-date::before{
    background-image: url(../images/date.png);
  }

  .main-card-comments, .card-comments{
    background: none;
    border: none;
    cursor: pointer;
  }

  .main-card-comments::before, .card-comments::before{
    background-image: url(../images/comment.png);
  }

  .main-card-shares::before, .card-shares::before{
    background-image: url(../images/share.png);
  }

  .main-card-btn, .card-btn{
    position: absolute;
    background: $mainColor;
    bottom: 17px;
    right: 17px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: "\2b";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #FFF;
        font-size: 31px;
        display: block;
        transition: 0.4s ease-in-out;
    }

    &::after{
        content: attr(data-content);
        visibility: hidden;
        position: absolute;
        width: 94px;
        background-color: #555;
        color: #fff;
        padding: 5px 0;
        border-radius: 6px;
        opacity: 0;
        transition: opacity .6s ease-in-out;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
    }

    &:hover::after{
        visibility: visible;
        opacity: 1;
    }
  }

  .main-card-btn {
    width: 48px;
    height: 48px;
  }

  .card-btn{
    width: 37px;
    height: 37px;
  }

  .rotate::before{
    transform: rotate(135deg);
  }

  @media (max-width: 1500px){

    .main-cards-wrapper, .normal-cards-wrapper {
        gap: 16px;
      }

    .main-card, .card {
        max-width: calc(50% - 8px);
      }

      .normal-cards-wrapper {
        margin-top: 16px;
      }
    .card{
        padding: 12px 14px 12px 14px;
        gap: 27px;
      }
    
    .card-img-holder {
        width: 347px;
        height: 348px;
      }
    
    .card-heading {
        font-size: 30px;
      }
    
    .card-paragraph-wrapper{
        margin: 36px 0;
        height: 102px;
      }
    
    .card-description {
        font-size: 18px;
      }
    
    .card-details{
        font-size: 14px;
      }
    
    .card-detail{
        margin-right: 15px;
        &::before{
            margin-right: 4px;
            width: 18px;
            height: 18px;
        }
      }
    
    .card-btn {
        width: 48px;
        height: 48px;
      }
}


@media (max-width: 1350px){
  .main-card, .card {
      max-width: 100%;
    }
}

@media (max-width:1030px) {

  .spotlight {
      margin-top: 77px;
    }
}

  @media (max-width:710px) {
    .main-card-img-holder, .card-img-holder {
      width: 250px;
      height: 312px;
    }
}

@media (max-width:640px) {

  .main-card-paragraph-wrapper,
  .card-paragraph-wrapper{
      margin: 25px 0;
}

.main-card-btn::after, .card-btn::after{
  display: none;
}
}


@media (max-width:600px) {
  .main-card, .card {
      flex-direction: column;
      padding: 12px 14px 26px 14px;
    }

  .main-card-img-holder, .card-img-holder {
      width: 100%;
  }
}