-
  const avantagesSlidersList = [
    {
      stImage: "./images/card-1.png",
      ndImage: "./images/card-2.png",
      sliderColor: "blue-bg",
      isPro: "",
      duration: "0",
      durationStrong: "Engagement ",
      durationNdStrong: "de durée",
      durationContent: "quelle que soit l’offre choisie",
      payments: "0",
      paymentsCurrency: "€",
      paymentsStrong: "Paiements sans frais",
      paymentsContent: "partout dans le monde",
      paymentsNdContent: "(vos retraits aussi avec l’offre Hello Prime)",
    },
    {
      stImage: "./images/card-3.png",
      sliderColor: "gray-bg",
      isPro: " Pro",
      duration: "0",
      durationStrong: "Engagement",
      durationNdStrong: "de durée",
      durationContent: "",
      payments: "0",
      paymentsCurrency: "€",
      paymentsStrong: "Vos virements SEPA gratuits et illimités",
      paymentsContent: "et vos paiements et retraits sans frais partout dans le monde",
      paymentsNdContent: "",
    },
  ];

