.avantages-slide {
  background-color: $blue-bg;
  min-width: 100vw;
  color: $blue-cta;
  height: fit-content;
  padding: toMaxBigVW(104) 0 toMaxBigVW(266);
  @include phones {
    padding: toMaxSmallVW(48) 0 toMaxSmallVW(160);
  }
  .cards-wrapper {
    margin: toMaxBigVW(112) auto 0;
    display: flex;
    justify-content: center;
    gap: toMaxBigVW(144);
    -webkit-gap: toMaxBigVW(144);
    @include phones {
      margin: toMaxSmallVW(48) auto 0;
      gap: toMaxSmallVW(48);
      -webkit-gap: toMaxSmallVW(48);
    }
    img {
      width: toMaxBigVW(365);
      height: toMaxBigVW(263);
      @include phones {
        width: toMaxSmallVW(182);
        height: toMaxSmallVW(131);
      }
    }
  }
  .duration,
  .payments {
    display: flex;
    align-items: center;
    width: toMaxBigVW(1460);
    margin: 0 auto;
    gap: toMaxBigVW(12);
    -webkit-gap: toMaxBigVW(12);
    @include phones {
      gap: toMaxSmallVW(12);
      -webkit-gap: toMaxSmallVW(12);
      width: toMaxSmallVW(480);
    }
    .number {
      font-size: toMaxBigVW(154);
      width: toMaxBigVW(175);
      height: fit-content;
      @include phones {
        font-size: toMaxSmallVW(147);
        width: toMaxSmallVW(145);
      }
      &.currency::after {
        font-size: toMaxBigVW(52);
        content: attr(currency-data);
        position: absolute;
        top: toMaxBigVW(44);
        @include phones {
          font-size: toMaxSmallVW(51);
          top: toMaxSmallVW(42);
        }
      }
    }
    p {
      font-size: toMaxBigVW(37);
      line-height: toMaxBigVW(49);
      flex: 1;
      padding-top: toMaxBigVW(24);
      @include phones {
        font-size: toMaxSmallVW(23);
        line-height: toMaxSmallVW(31);
        padding-top: toMaxSmallVW(30);
      }
      strong {
        font-size: toMaxBigVW(40);
        line-height: toMaxBigVW(53);
        @include phones {
          font-size: toMaxSmallVW(28);
          line-height: toMaxSmallVW(37);
        }
      }
    }
  }
  .duration {
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      background-color: inherit;
      background-color: $blue-cta;
      left: 50%;
      transform: translateX(-50%);
      width: toMaxBigVW(492);
      bottom: toMaxBigVW(-10);
      @include phones {
        width: toMaxSmallVW(312);
      }
    }
  }
  &.blue-bg {
    color: #ffffff;
    background-image: linear-gradient(116deg, #01a5c1 0%, #016388 100%);
    .duration {
      &::after {
        background-color: #fff;
      }
    }
  }
  &.gray-bg {
    background-image: linear-gradient(121deg, #f5f5f5 0%, #cacaca 100%);
    .duration {
      &::after {
        background-color: $blue-cta;
      }
    }
  }
}
