-
  const souscrivezCardsList = [
    {
      number: "1",
      title: "Formulaire",
      title2: "grande vitesse",
      content: "Simple et rapide, compléter vos informations est un jeu d’enfants.",
    order: "",
    },
    {
      number: "2",
      title: "Signature",
      title2: "électronique",
        content: "Avec la signature en ligne, vous saisissez un code confidentiel reçu par sms et le tour est joué !",
    order: "right-card",
    },
    {
      number: "3",
      title: "Envoi des pièces",
      title2: "justificatives",
        content: "Rien de plus simple ! Une photo depuis votre smartphone, à télécharger quand vous voulez !",
    order: "",
    },
    {
      number: "4",
      title: "Ouverture",
      title2: "du compte",
        content: "Vous effectuez votre premier versement. Votre compte est ouvert, vous recevez votre carte VISA chez vous.",
    order: "right-card",
    },
  ];