.souscrivez-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $blue-cta;
  gap: toMaxBigVW(18);
  -webkit-gap: toMaxBigVW(18);
  @include phones {
    flex-direction: row;
    gap: toMaxSmallVW(42);
    -webkit-gap: toMaxSmallVW(42);
  }

  &:not(:first-of-type)::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 75%;
    bottom: 0;
    left: toMaxBigVW(-17);
    background-color: $blue-cta;
    @include phones {
      left: 50%;
      top: toMaxSmallVW(-18);
      height: 1px;
      width: toMaxSmallVW(78);
      transform: translateX(-50%);
    }
  }

  .number-and-icon {
    padding-top: toMaxBigVW(144);
    @include phones {
      padding-top: 0;
      flex: 1;
    }
    &::before {
      content: attr(data-list);
      position: absolute;
      top: toMaxBigVW(-80);
      top: 0;
      left: 50%;
      transform: translate(-50%, -33%);
      font-weight: bold;
      color: $pink-text;
      font-size: toMaxBigVW(120);
      @include phones {
        font-size: toMaxSmallVW(100);
        top: 50%;
        left: 0;
        transform: translateY(-60%);
      }
    }

    .souscrivez-card-icon {
      width: toMaxBigVW(182);
      @include phones {
        width: toMaxSmallVW(150);
        margin-left: auto;
      }
    }
  }
  .card-content {
    @include phones {
      width: 50%;
    }
    .souscrivez-card-title {
      font-size: toMaxBigVW(40);
      line-height: toMaxBigVW(45);
      text-align: center;
      margin-bottom: toMaxBigVW(32);
      @include phones {
        text-align: start;
        font-size: toMaxSmallVW(28);
        line-height: toMaxSmallVW(30);
        margin-bottom: toMaxSmallVW(14);
      }
    }
    .souscrivez-card-content {
      font-size: toMaxBigVW(30);
      line-height: toMaxBigVW(40);
      text-align: center;
      @include phones {
        text-align: start;
        font-size: toMaxSmallVW(23);
        line-height: toMaxSmallVW(31);
      }
    }
  }

  &.right-card {
    @include phones {
      .number-and-icon {
        order: 1;
      }
      .card-content .souscrivez-card-title,
      .card-content .souscrivez-card-content {
        text-align: end;
      }
    }
  }
}
