@import './avantages-slide/avantages-slide.scss';

.avantages-slider {
  width: 100%;
  .flickity-prev-next-button {
    background: transparent;
    color: white;
    box-shadow: none;
    &:focus:after {
      border-color: transparent;
      webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .previous {
    left: toMaxBigVW(200);
    @include phones {
      left: toMaxSmallVW(16);
    }
  }
  .next {
    right: toMaxBigVW(200);
    @include phones {
      right: toMaxSmallVW(16);
    }
  }
  .previous,
  .next {
    svg {
      width: toMaxBigVW(34.947);
      height: toMaxBigVW(84.34);
      @include phones {
        width: toMaxSmallVW(20.254);
        height: toMaxSmallVW(47.248);
      }
    }
  }
  .flickity-page-dots {
    bottom: toMaxBigVW(93);
    @include phones {
      bottom: toMaxSmallVW(40);
    }
    .dot {
      width: toMaxBigVW(30);
      height: toMaxBigVW(30);
      opacity: 1;
      background-color: white;
      @include phones {
        width: toMaxSmallVW(24);
        height: toMaxSmallVW(24);
      }
      &.is-selected {
        background-color: $blue-text;
      }
    }
  }
}
