include ./avantages-slide/avantages-slider-mixin
include ./avantages-slide/avantages-sliders-list

section.avantages-slider(data-flickity='{"lazyLoad": true, "autoPlay": 5500, "wrapAround": true}')
    +avantagesSlide(avantagesSlidersList)