doctype
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style/glide-core.css")
        link(rel="stylesheet" href="./style/glide-theme.css")
        link(rel="stylesheet" href="./style/style.css")
        script(src="https://kit.fontawesome.com/d24203c984.js" crossorigin="anonymous")
        script(defer src="./js/script.js")
        title Biz Congo
    body 
        include ../layouts/header/header
        main    
            include ../layouts/main/main

        script(src="https://cdn.jsdelivr.net/npm/@glidejs/glide") 
        script new Glide('.hero .glide').mount(); new Glide('.business-cards-wrapper .glide', {type: 'carousel',startAt: 0,perView: 4, gap:20, breakpoints: { 1500: { perView: 3}, 1030: { perView: 2, }, 640: { perView: 1, }}, pagination: { el: '.glide__bullets', bullet: '.glide__bullet', }}).mount(); 