-
    const activitiesData =
    [
        {
            activityType: "Agriculture, Elevage, autres",
            subActivities: [
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
            ],
        },
        {
            activityType: "Alimentation & Boissons",
            subActivities: [
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
            ],
        },
        {
            activityType: "Ambassades",
            subActivities: [
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
            ],
        },
        {
            activityType: "Associations, Organisations",
            subActivities: [
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
            ],
        },
        {
            activityType: "Banque, finance & assurance",
            subActivities: [
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
            ],
        },
        {
            activityType: "Commerce de gros",
            subActivities: [
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
            ],
        },
        {
            activityType: "Commerces & Magasins",
            subActivities: [
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
            ],
        },
        {
            activityType: "Commerce de bateaux & moteurs",
            subActivities: [
                {
                title:"Animaux d'élevage",
                link: "#",
                },
                {
                title:"Apiculture & sériculture",
                link: "#",
                },
                {
                title:"Coopératives & exploitants",
                link: "#",
                },
                {
                title:"Céréales & grains",
                link: "#",
                },
                {
                title:"Engrais & Phytosanitaires",
                link: "#",
                },
                {
                title:"Fruits & légumes",
                link: "#",
                },
                {
                title:"Import - Export",
                link: "#",
                },
                {
                title:"Soins des animaux",
                link: "#",
                },
                {
                title:"Tracteurs et matériels agricoles",
                link: "#",
                },
                {
                title:"Usinage",
                link: "#",
                },
                {
                title:"Œufs",
                link: "#",
                },
            ],
        },
    ]