-
    const events =
    [
        {
            image: "./images/event-1.png",
            title: "CONGO BIENNALE",
            description: "CONGO BIENNALE, Institut Français de Kinshasa | Entrée gratuite. La deuxième édition de la Biennale internationale d’art contemporain... en République démocratique du Congo (Congo Biennale) affirme d’emblée...",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/event-2.png",
            title: "COMPARTIMENT TUEURS",
            description: "COMPARTIMENT TUEURS, Institut Français | Salle de cinéma | Entrée libre. Réalisé par Costa-Gavras 1965 / 1h35 / Film de... Patrimoine, Polar, Adaptation littéraire Une passagère d'un wagon-couchette... occupants de ce compartiment ",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
    ];

    const announces =
    [
        {
            image: "./images/annonce-1.png",
            title: "TOYOTA FORTUNER",
            description: "Toyota Fortuner Année de fabrication 2022 AUTHENTIQUE Automatique Couleur d'origine partout Climatisée Sans plaque Kilométrage :00 Volant normal gauche Poignée magnétique 4CYLINDRES Essence 3 banquettes Pas encore rouler à kinshasa Tout neuf Prix : 58.000$ Tel : +243 975 153 654",
            date: "12 Sept 2023",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/annonce-2.png",
            title: "Une Parcelle Vide en Vente à Mongafula",
            description: "Une Parcelle Vide en Vente Commune de Mont-Ngafula Quartier Mitendi Cité Millenium A 5 Minutes de la Principale Route Matadi Référence Station Mitendi , La Parcelle est de 20/30, Possibilité morceler . Courant 5/5 Eau Forage Prix 13.000$ Négociation Nb: Les Documents sont bel et bien là, Le Terrain est non Érosif Tel : +243 975 153 654",
            date: "12 Sept 2023",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
    ];

    const jobs =
    [
        {
            image: "./images/event-1.png",
            title: "CONGO BIENNALE",
            description: "CONGO BIENNALE, Institut Français de Kinshasa | Entrée gratuite. La deuxième édition de la Biennale internationale d’art contemporain... en République démocratique du Congo (Congo Biennale) affirme d’emblée...",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
        {
            image: "./images/event-2.png",
            title: "COMPARTIMENT TUEURS",
            description: "COMPARTIMENT TUEURS, Institut Français | Salle de cinéma | Entrée libre. Réalisé par Costa-Gavras 1965 / 1h35 / Film de... Patrimoine, Polar, Adaptation littéraire Une passagère d'un wagon-couchette... occupants de ce compartiment ",
            date: "05 Oct 2022",
            commentsNumber: 10,
            sharesNumber: 8,
            link: "#",
        },
    ];