include ../../components/sticky-cta-btn/sticky-cta-btn-mixin

.sticky-cta
    .cta-btns-wrapper
        +stickyCtaBtn("pink", "https://www.hellobank.fr/fr/avantages/ouvrir-un-compte-avec-mercihello?perf_origine=PRN001&code_avantage=MH8012MPRIPRO50&prod_origine=mercihello&code_partenaire=MGVX7S62QSQW6AVQZ9A-cash|01970016628500000&code_param1=4646286&dclid=CKXawI_97YADFXROQQIdmUgH3Q", "J’OUVRE UN COMPTE particulier")
        
        +stickyCtaBtn("blue", "https://www.hellobankpro.fr/fr/devenir-client?perf_origine=PRN001&code_avantage=MH8012MPRIPRO50&prod_origine=mercihello&code_partenaire=MGVX7S62QSQW6AVQZ9A-cash|01970016628500000&code_param1=4646286&dclid=CKeQ3eL97YADFS5IQQIdGSIMDg", "J’OUVRE UN COMPTE PROFESSIONNEL")