include ../../blocks/hero/index
include ../../blocks/sponsors/index
include ../../blocks/spotlight/index
include ../../blocks/business-news/index
include ../../blocks/activities/index
include ../../blocks/ads/index
include ../../blocks/vous-nous/index
include ../../blocks/bottom-ad/index
