header.flex-space-between.container
    input.menu-checkbox(type="checkbox", id="menu")
    label.menu-label(for="menu") 
    .logo
        a(href="#") 
            img(src="/images/logo.png", alt="Biz Congo Logo")
    nav.header-nav
        ul.nav-list.flex-center
            li.nav-list-item
                input.nav-checkbox(type="checkbox", id="checkbox-1")
                label.nav-checkbox-label(for="checkbox-1") A la une
                ul.links-list
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
            li.nav-list-item
                input.nav-checkbox(type="checkbox", id="checkbox-2")
                label.nav-checkbox-label(for="checkbox-2") Travailler en rdc
                ul.links-list
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
            li.nav-list-item
                input.nav-checkbox(type="checkbox", id="checkbox-3")
                label.nav-checkbox-label(for="checkbox-3") Appels d'offres
                ul.links-list
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
            li.nav-list-item
                input.nav-checkbox(type="checkbox", id="checkbox-4")
                label.nav-checkbox-label(for="checkbox-4") Bons plans
                ul.links-list
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test
            li.nav-list-item
                input.nav-checkbox(type="checkbox", id="checkbox-5")
                label.nav-checkbox-label(for="checkbox-5") Infos pratiques
                ul.links-list
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
                    li.links-list-item
                        a(class="list-link" href="#") Test 
    .options-wrapper.flex-align-center
        input(class="language_input" type="checkbox", name="" id="language")
        label.languages-label.flex-center(for="language")
        select.languages-list
            option(value="") Sélectionner une langue 
            option(value="fr") Francais
            option(value="an") Anglais
            option(value="ar") Arabe
        a.cart-link.flex-align-center(href="#" data-cart-items="3")
        a.profile-link.flex-align-center(href="#")
