
<header class="flex-space-between container">
  <input class="menu-checkbox" type="checkbox" id="menu"/>
  <label class="menu-label" for="menu"> </label>
  <div class="logo"><a href="#"> <img src="/images/logo.png" alt="Biz Congo Logo"/></a></div>
  <nav class="header-nav">
    <ul class="nav-list flex-center">
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-1"/>
        <label class="nav-checkbox-label" for="checkbox-1">A la une</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-2"/>
        <label class="nav-checkbox-label" for="checkbox-2">Travailler en rdc</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-3"/>
        <label class="nav-checkbox-label" for="checkbox-3">Appels d'offres</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-4"/>
        <label class="nav-checkbox-label" for="checkbox-4">Bons plans</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test</a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-5"/>
        <label class="nav-checkbox-label" for="checkbox-5">Infos pratiques</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Test </a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="options-wrapper flex-align-center">
    <input class="language_input" type="checkbox" name="" id="language"/>
    <label class="languages-label flex-center" for="language"></label>
    <select class="languages-list">
      <option value="">Sélectionner une langue </option>
      <option value="fr">Francais</option>
      <option value="an">Anglais</option>
      <option value="ar">Arabe</option>
    </select><a class="cart-link flex-align-center" href="#" data-cart-items="3"></a><a class="profile-link flex-align-center" href="#"></a>
  </div>
</header>