
<header class="flex-space-between container">
  <input class="menu-checkbox" type="checkbox" id="menu"/>
  <label class="menu-label" for="menu"> </label>
  <div class="logo"><a href="#"> <img src="../images/logo.png" alt="Biz Congo Logo"/></a></div>
  <nav class="header-nav">
    <ul class="nav-list flex-center">
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-1"/>
        <label class="nav-checkbox-label" for="checkbox-1">A la une</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Spotlight</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Agenda culturel</a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-2"/>
        <label class="nav-checkbox-label" for="checkbox-2">Travailler en rdc</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Offres d'emploi</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Demandeur d'emploi</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Déposer un CV </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Législation</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Les communiqués</a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-3"/>
        <label class="nav-checkbox-label" for="checkbox-3">Appels d'offres</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Tous les appels d'offres </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Marché de Fournitures </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Marché de Travaux </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Marché de Services </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Ventes aux enchères </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Attribution de marchés </a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-4"/>
        <label class="nav-checkbox-label" for="checkbox-4">Bons plans</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Annonces Entreprises </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Promotions Entreprises  </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Petites Annonces</a></li>
        </ul>
      </li>
      <li class="nav-list-item">
        <input class="nav-checkbox" type="checkbox" id="checkbox-5"/>
        <label class="nav-checkbox-label" for="checkbox-5">Infos pratiques</label>
        <ul class="links-list">
          <li class="links-list-item"><a class="list-link" href="#">Numéros d'Urgences </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Demander un crédit </a></li>
          <li class="links-list-item"><a class="list-link" href="#">Demander une assurance</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Horaires des vols</a></li>
          <li class="links-list-item"><a class="list-link" href="#">A la Télé</a></li>
          <li class="links-list-item"><a class="list-link" href="#">Météo</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="options-wrapper flex-align-center">
    <input class="language_input" type="checkbox" name="" id="language"/>
    <label class="languages-label flex-center" for="language"></label>
    <div class="languages-list">
      <input class="language-radio" type="radio" id="french" name="language" checked="checked"/>
      <label class="language-label" for="french">Français</label>
      <input class="language-radio" type="radio" id="english" name="language"/>
      <label class="language-label" for="english">English</label>
      <input class="language-radio" type="radio" id="spanish" name="language"/>
      <label class="language-label" for="spanish">Español</label>
    </div><a class="cart-link" href="#"><span class="cart-items flex-center">3</span></a><a class="profile-link flex-align-center" href="#"></a>
  </div>
</header>