include ../includes/data/_spotlight-cards-data
include ../includes/_spotlight-cards-generator
include ../includes/data/_business-news-data
include ../includes/_business-news-cards
doctype
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../styles/glide-styles/glide-core.css")
        link(rel="stylesheet", href="../styles/glide-styles/glide-theme.css")
        link(rel="stylesheet", href="../styles/style.css")
        script(src="https://kit.fontawesome.com/d24203c984.js" crossorigin="anonymous")
        script(defer src="../scripts/script.js")
        title Biz Congo
    body 
        include ../layouts/_header
        include ../layouts/_main
        script(src="https://cdn.jsdelivr.net/npm/@glidejs/glide") 
        script new Glide('.hero .glide').mount(); new Glide('.business-cards-wrapper .glide', {type: 'carousel',startAt: 0,perView: 4, gap:20, breakpoints: { 1730: { perView: 3}, 1030: { perView: 2, }, 640: { perView: 1, }}}).mount();