mixin businessNewsBullet
    each card, index in businessNewsCards
        - const cardNumber= index +1
        button.glide__bullet.business-news-bullet(data-glide-dir="=" + index aria-label="Actualité n° " + cardNumber)