-
    const businessNewsCards =
    [
        {
            image: "./images/business-img-1.png",
            company: "CIMKO",
            type: "Annonces",
            day:"4",
            month:"oct",
            link:"#"
        },
        {
            image: "./images/business-img-2.png",
            company: "SOKIN",
            type: "Promotions",
            day:"4",
            month:"oct",
            link:"#"
        },
        {
            image: "./images/business-img-3.png",
            company: "DAON",
            type: "Annonces",
            day:"4",
            month:"oct",
            link:"#"
        },
        {
            image: "./images/business-img-4.png",
            company: "O POETA",
            type: "Promotions",
            day:"4",
            month:"oct",
            link:"#"
        },
        {
            image: "./images/business-img-3.png",
            company: "DAON",
            type: "Annonces",
            day:"4",
            month:"oct",
            link:"#"
        },
    ]    