-
    const navLinksCategories =
    [
        {
            category: "A LA UNE",
            links:[
                {
                    title: "Spotlight",
                    href: "#"
                },
                {
                    title: "Agenda culturel",
                    href: "#"
                },
            ]
        },
        {
            category: "INFOS PRATIQUES",
            links:[
                {
                    title: "Numéros d'Urgences",
                    href: "#"
                },
                {
                    title: "Demander un crédit",
                    href: "#"
                },
                {
                    title: "Demander une assurance",
                    href: "#"
                },
                {
                    title: "Horaires des vols",
                    href: "#"
                },
                {
                    title: "A la Télé",
                    href: "#"
                },
                {
                    title: "Météo",
                    href: "#"
                }
            ]
        },
        {
            category: "ÉVÉNEMENTS DE VIE",
            links:[
                {
                    title: "Naissances",
                    href: "#"
                },
                {
                    title: "Mariage & Fiançailles",
                    href: "#"
                },
                {
                    title: "Décès",
                    href: "#"
                },
            ] 
        },
        {
            category: "TRAVAILLER EN RDC",
            links:[
                {
                    title: "Offres d'emploi",
                    href: "#"
                },
                {
                    title: "Demandeur d'emploi",
                    href: "#"
                },
                {
                    title: "Déposer un CV",
                    href: "#"
                },
                {
                    title: "Législation",
                    href: "#"
                },
                {
                    title: "Les communiqués",
                    href: "#"
                }
            ]
        },
        {
            category: "APPELS D'OFFRES",
            links:[
                {
                    title: "Tous les appels d'offres",
                    href: "#"
                },
                {
                    title: "Marché de Fournitures",
                    href: "#"
                },
                {
                    title: "Marché de Services",
                    href: "#"
                },
                {
                    title: "Ventes aux enchères",
                    href: "#"
                },
                {
                    title: "Attribution de marchés",
                    href: "#"
                }
            ]
        },
        {
            category: "BONS PLANS",
            links:[
                {
                    title: "Annonces Entreprises",
                    href: "#"
                },
                {
                    title: "Promotions Entreprises",
                    href: "#"
                },
                {
                    title: "Petites Annonces",
                    href: "#"
                },
            ] 
        }        
    ]