@import './souscrivez-cards/souscrivez-card.scss';

.souscrivez {
  padding: toMaxBigVW(126) 0 toMaxBigVW(233);
  @include phones {
    padding: toMaxSmallVW(48) 0 toMaxSmallVW(145);
  }
  h2 {
    color: $blue-cta;
  }
  .souscrivez-cards {
    padding-top: toMaxBigVW(128);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: toMaxBigVW(64);
    -webkit-gap: toMaxBigVW(64);
    @include phones {
      grid-template-columns: 1fr;
      padding-top: toMaxSmallVW(60);
      gap: toMaxSmallVW(60);
      -webkit-gap: toMaxSmallVW(60);
    }
  }
}
